.item-detail-container {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .item-detail-image {
    flex: 0 0 auto; /* Establece el tamaño automático para la imagen */
    margin-right: 20px; /* Ajusta el margen derecho entre la imagen y el contenido */
  }
  
  .item-detail-content {
    flex: 1; /* Ocupa todo el espacio disponible */
  }
  
  .item-detail-description {
    margin-bottom: 20px; /* Agrega espacio debajo de la descripción */
  }
  