.item-detail-container {
  display: flex; 
  align-items: center; 
}

.item-detail-image {
  flex: 0 0 auto; 
  margin-right: 20px;
}
.item-detail-image img {
  max-width: 100%; 
  height: auto;
  max-height: 300px; 
}



.item-detail-content {
  flex: 1; 
}

.item-detail-description {
  margin-bottom: 20px; 
}

  